@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body {
	font-family: "Alef Hebrew";
	/* גופן אלף */
	direction: rtl;
	/* טקסט מימין לשמאל */
}

fieldset {
	border: 1px solid #ddd;
	padding: 0 1.4em 1.4em 1.4em;
	margin: 0 0 1.5em 0;
	border-radius: 8px;
	margin: 0 5px;
	height: 100%;
}

legend {
	font-size: 1.1em;
	font-weight: bold;
}

.tdFieldset1 {
	width: 35%;
	height: 100%;
}

.tdFieldset2 {
	width: 65%;
	height: 100%;
}


/* http://girliemac.com/blog/2009/04/30/css3-gradients-no-image-aqua-button */

.button {
	width: 75px;
	height: 25px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: 1px solid #ccc;
	position: relative;
	/* Label */
	color: #fff;
	text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.aqua {
	background-color: rgba(60, 132, 198, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
	border-top-color: #8ba2c1;
	border-right-color: #5890bf;
	border-bottom-color: #4f93ca;
	border-left-color: #768fa5;
	-webkit-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
	box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
	-moz-box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
	/* FF 3.5+ */
}

.button .glare {
	position: absolute;
	top: 0;
	left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 1px;
	width: 65px;
	padding: 5px 0;
	background-color: rgba(255, 255, 255, 0.25);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}

.arrContainer {
	direction: ltr;
	text-align: right;
	position: absolute;
	/*position: absolute;*/
	/*	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 60px;
	bottom: 0;
*/
}

.cell {
	direction: ltr;
	/* מספר משמאל לימין אחרת מינוס יופיע מימין */
	border-color: DarkGray;
	border-style: solid;
	border-width: 1px;
	width: 24px;
	/* רוחב ברירת מחדל של תא כשנבחרה אפשרות של הזנת ערכים ידנית */
	font-family: Consolas;
	/* 'Courier New', Courier, monospace; :גופן שבו כל התווים באותו הרוחב. גופנים נוספים כאלה, שאינם ברירת מחדל בכרום */
	padding: 2px 2px 2px 2px;
	/* לא זוכר למה רשמתי לבדוק האם ניתן להסיר */
/*	top: 0; */
/*	left: 0; */
/*	overflow: hidden; */
	position: relative;
	/*position: absolute;*/
/*	display: inherit; */
}